@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
    font-family: 'Quicksand', sans-serif;
}
body {
    background-image: url(Spring_Forest.png);
    background-size: cover;
}
p {
    padding: 0.8rem;
    font-weight: bold;
}
span {
    display: inline
}
.container {
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    width: 43vw;
    height: fit-content;
    text-align: center;
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    margin: 1rem;
    display: inline-grid;
}
.information {
    grid-template-columns: auto auto;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
    font-size: 1.1
}
