@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #1c1c1c;
    padding-bottom: 6vw;
}
h1 {
    font-weight: 700;
    text-decoration: underline;
}
p {
    padding: 0.8rem;
    font-weight: 600;
    font-size: 1.1rem;
}
a:link, a:visited {
    color: #aa7bff;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    color: white;
    width: 89vw;
    text-align: center;
    border: 0.3vw solid; 
    border-image: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
    border-image-slice: 1;
    margin: 1rem;
}
.information {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}
.footer {
    background-color: #1c1c1c;
    display: grid;
    grid-template-columns: repeat(5, 4%);
    position: fixed;
    left: 0;
    bottom: 0;
    height: 6vw;
    width: 100%;
    color: white;
    border-top: 0.3vw solid; 
    border-image: linear-gradient(90deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
    border-image-slice: 1;
    gap: 2vh;

    p {
        text-align: end;
        color: #7a7979;
        position: fixed;
        right: 0;
        bottom: -2vw;
        width: 17ch;
        font-size: 2vw;
    }
    a {
        color: #7a7979;
        text-decoration: underline;
    }
}
.icons.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 30%;

}
.icon-container {
    position: relative;
    width: 6.7vh;
    top: 4%;
    aspect-ratio: 1;
    img { 
        width: 6vw;
    }

}
#pc-specs > .grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: 1rem;
}
#pc-specs > h1 {
    padding: 1rem;
    text-decoration: underline;
    color: #aa7bff;
    font-size: 2rem;
    width: 100%;
}


#pc-specs > .grid-container > p > span { 
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
}
.footer {
    margin-top: 1rem;
}
@media only screen and (min-width: 1000px) {
    body {
        padding-bottom: 6vh;
    }
    .information {
        grid-template-columns: repeat(2, 47.5%);
    }
    .container {
        width: 43vw;
    }

    .footer {
        height: 6vh;
        gap: 0;
        p {
            position: absolute;
            width: 17ch;
            right: 0;
            font-size: 2vh;
            bottom: -2vh
        }
    }
    .icon-container {
        img {
            transition-duration: 100ms;
            width: 50px
        }
    }
    .icon-container:hover {
        top: -3%;
        img {
            width: 60px;
        }
    }
}
