@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #1c1c1c;
}
p {
    padding: 0.8rem;
    font-weight: bold;
}

a:link, a:visited {
    color: pink;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    color: white;
    width: 89vw;
    text-align: center;
    border: 0.3vw solid; 
    border-image: linear-gradient(180deg, #5BCEFA 20%, #F5A9B8 20%, 40%, #FFFFFF 40%, 60%, #F5A9B8 60%, 80%, #5BCEFA 80%);
    border-image-slice: 1;
    margin: 1rem;
}
.information {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}
@media only screen and (min-width: 1000px) {
    .information {
        grid-template-columns: 47.5% 47.5%;
    }
    .container {
        width: 43vw;
    }
}
