body {
    background-size: 100%;
}

.panel {
    height: 1.5rem;
    .widget {
        margin: 0.5rem;
    };
}

.desktop {
    margin-top: 2rem;
    margin-left: 2rem;  
    gap: 5rem;

    justify-content: left;
}

#socials .app-label, #projects .app-label {
    position: absolute !important;
    left: 10% !important;
    top: 90% !important;

    text-align: center;
    width: 20ch;
}

#projects, #socials {
    transform: translate(-25%, -15%);
}



.window { 
    width: 100vw;

    left: 0;
    top: 1.5rem;
}

.popup-window { 
    width: 80%;
    gap: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.popup-window .content {
    height: 15rem;
    p {
        width: 70%;    
        background-color: transparent;
        padding: 0;
    }
}
.popup-buttons {
    position:relative;
    transform: translateY(-100%)
}
.popup-window::after {
    display: inline;
}


.projects-window .content, .socials-window .content {
    justify-content: center;
}
.projects-window .content .app-icon, .socials-window .content .app-icon {
    margin: 2rem;
    width: 20vw;
    height: 20vw;

    i {
        font-size: 2rem;
    }

}

.content {
    height: calc(100vh - 10rem);
    backdrop-filter: blur(3px); 
    -webkit-backdrop-filter: blur(3px); /* for safari */

    p {
        width: 35%;
        height: 3rem;
        align-content: center;
    }
}
.iphone .content {
    height: 88vh;
}

.window::after {
    display: inline-block;
    width: 100vw;
    height: 6vh !important;
    
    background-color: rgb(var(--bg2));
    content: " "
}


.close-btn {
    top: calc(100vh - 14vh);

    aspect-ratio: 1;
    width: 5vh;

    background-color: black;
    border: none;
    border-radius: 100vh;

    font-size: 1.75vh;

    i {
        color: white;
    }
}
.iphone .titlebar .close-btn {
    top: calc(100vh - 8.25vh);
    
}

.app-icon#connect4 {
    font-size: 1.3rem;
}